/* Will be compiled down to a single stylesheet with your sass files */

html { min-width: 300px; }
body, button {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
}
a {
  color: #333;
  cursor: pointer;
}
a:hover,
a:active { color: red; }
* { box-sizing: border-box; }


/**
 * Curved Shadow
 */

.curved-shadow {
  background-color: inherit;
  position: relative;
  z-index: 3;
}
.curved-shadow:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: -2;
}
.curved-shadow:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  content: '';
  position: absolute;
  z-index: -1;
}

/**
 * Counter
 */

.counter {
  height: 80px;
  padding: 20px 30px 15px;
  text-align: center;
}
.counter,
.counter:after {
  background-color: #fff;
}
.counter .state-art,
.counter object {
  width: 40px;
  height: 40px;
  position: relative;
}
.counter object {
  top: 0;
  left: 0;
  position: absolute;
}
.counter .timer {
  font-size: 24px;
  font-weight: 700;
  color: #888;
  margin-left: 25px;
}
.counter .state-art,
.counter .timer {
  display: inline-block;
  vertical-align: middle;
}
.counter .minutes { color: red; }
.counter .minutes:after {
  font-size: 20px;
  content: ':';
  color: #888;
  margin: 0 20px;
  top: -2px;
  position: relative;
}
.counter .seconds { margin-left: -4px; }

/**
 * Counter Actions
 */

.counter-action {
  min-height: 50px;
  padding: 10px 15px;
  background-color: #eee;
}
.counter-action .actions {
  text-align: center;
}
.counter-action .actions button,
.options-page button {
  outline: none;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 1px 0 #fff;
  color: red;
  background-image: linear-gradient(to bottom,
    #fafafa   0%,
    #fefffe  10%,
    #fefffe  15%,
    #fafafa  20%,
    #eeefee  80%,
    #f0f0f0  96%,
    #f0f0f0  98%,
    #eeefee 100%
  );
  margin-bottom: 3px;
  padding: .5em 2.5em;
  border: 0;
  border-radius: 3px;
  box-shadow:
    0 -2px 3px rgba(0,0,0,.3) inset,
    0 0 3px rgba(0,0,0,.3)
  ;
  cursor: pointer;
}
.counter-action .actions button:hover,
.counter-action .actions button:active,
.options-page button:hover,
.options-page button:active {
  text-shadow: none;
  color: rgba(255,255,255,.75);
  background-image: linear-gradient(to bottom, #888 0%, #ccc 100%);
}
.counter-action .actions .optional {
  font-size: 9px;
  font-weight: 700;
  text-decoration: underline;
  display: block;
}
.counter-action .message {
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  margin: 5px 0 0;
}
.counter-action .break-message {
  font-size: 18px;
  text-align: center;
  margin: 5px 0 0;
}
.counter-action .break-message span {
  font-size: 18px;
  font-weight: 700;
  color: red;
}

.counter-action.end .break-message,
.counter-action.start .break-message,
.counter-action.running .break-message,
.counter-action.running .actions,
.counter-action.break .message,
.counter-action.break .actions {
  display: none;
}

.counter-action.running:hover .actions,
.counter-action.running:active .actions {
  display: block;
}
.counter-action.running:hover .message,
.counter-action.running:active .message {
  display: none;
}

/**
 * Tasks
 */

#tasklist {
  border-bottom: 5px solid #ddeda0;
}
#tasklist h1 {
  background-color: #ddeda0;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: .5em 1em;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}
#tasklist h1:after {
  background-color: #ddeda0;
}
.task {
  font-size: 14px;
  text-shadow: 1px 1px 0 #fff;
  padding: 8px 11px;
  border-bottom: 1px solid #fff;
  background-color: #f2f9e5;
  display: block;
  cursor: pointer;
  -webkit-transition: background-color .5s, color .25s;
     -moz-transition: background-color .5s, color .25s;
          transition: background-color .5s, color .25s;
}
span.task { cursor: default; }
a.task:nth-child(2n) { background-color: #e7edd9; }
a.task:hover,
a.task:active {
  color: #fff;
  background-color: #9ca093;
  text-shadow: none;
}

.hidden { display: none !important; }
.invisible { visibility: hidden !important; }

/**
 * Options page
 */

.options-page {
  background-color: #f2f9e5;
}

.options-page fieldset {
  margin-bottom: 20px;
  border: 0;
  padding: 0;
}
.options-page #fix-auth {
  text-align: center;
  padding-bottom: 20px;
}

.options-page legend {
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
  padding: 8px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ddeda0;
}

.options-page .field {
  width: 33%;
  padding: 0 30px 10px;
  margin-left: -4px;
  display: inline-block;
}
.options-page label { display: block; }
.options-page input[type=number] {
  width: 100%;
  font-size: 18px;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.options-page p {
  margin: 0;
  text-align: center;
  padding: 30px 40px 20px;
}

/**
 * checkbox
 */

.checkbox { }
.checkbox input { display: none; }
.checkbox input + span {
  width: 18px;
  height :18px;
  border: 1px solid #ccc;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 20px 40px 10px 10px ;
}
.checkbox input + span:after {
  content :'OFF';
  left: 20px;
  top: -2px;
  position: absolute;
}
.checkbox input:checked + span {
  background-color: #888;
  box-shadow: 0 0 0 2px #fff inset;
}
.checkbox input:checked + span:after {
  content: 'ON';
}

.text-center { text-align: center; }